body {
	background-color: #ebebe0;
}

#titleML {
	color: white;
	float: left;
	width: 100%;
	background-color: grey;
}

#MLLabels {
	line-height: 30%;
}

#titleWI {
	color: white;
	float: left;
	width: 100%;
	background-color: grey;
}

#WILabels {
	line-height: 30%;
}

#titleCL {
	color: white;
	float: left;
	width: 100%;
	background-color: grey;
}

#CLTable {
	width: 100%;
	background-color: grey;
	cursor: pointer;
}

@media screen and (min-width: 750px) {
    #frameMW {
    	display: grid;
    	grid-template-columns: 50% 50%;
    }
}